.custom-header {
    background-image:url("../img/custom-header.png");
    background-position: center center;
    background-size: cover;
}
 
.custom-dark-glow {
    color:lightsalmon;
    text-shadow:1px 1px 10px #000, 1px 1px 10px rgb(29, 29, 29);
}
body {text-align:center;}

h1, h2, h3 {
    font-family: 'Rammetto One', cursive;
    color: #303179;
}
.my-custom-color {background-color: #fae5df}

.custom-interest-color {background-color: #f5cac2}

.about-custom {background-color: #c8d8e4;}

.custom-text-color {color: #141850;}

.tab-content {color: #141850;}

.nav-link {
    color: rgb(8, 73, 114);
}

.nav-link:hover {
    color: #c8d8e4;
}
